<% stuff = typeof stuff !== 'object' ? {} : stuff %>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
            </button>
            <ol id="title" class="breadcrumb navbar-breadcrumb">

              <!-- <% if (stuff.type) { %>
                <% if(stuff.type == 1) %>
                <li class="active">แผนที่ขอบเขตการปกครอง</li>
              <% }else{ %>
                <li class="active"><a href="/">Map</a></li>
                <% if (stuff.provice) { %>
                  <li class="active">
                    <% if (stuff.type) %> <a href="/shelfs/<%-stuff.provice-%>" >
                    <%-stuff.provice-%>
                    <% if (stuff.type) %> </a>
                  </li>
                <% } %>
                <% } %> -->
            </ol>

        </div>
        <!-- <div class="navbar-right"> -->
        <!-- <ul class="nav navbar-nav">
          <li class="dropdown">
              <a class="dropdown-toggle icon" data-toggle="dropdown" role="button" aria-expanded="false" style="width:60px; height:60px; top:1px">
                <i class="material-icons icon">layers</i>
              </a>
              <ul class="dropdown-menu animated fadeInDown">
                  <li class="title">
                      Notification <span class="badge pull-right">0</span>
                  </li>
                  <li class="message">
                      No new notification
                  </li>
              </ul>
          </li>
        </ul> -->
        <!-- </div> -->
    </div>
</nav>
<script>
var height = window.screen.height;
var width  = window.screen.width;
var title  = document.getElementById("title");
if(width < height){
  title.innerHTML  = " <% if (stuff.type) { %> \
    <% if(stuff.type == 1) %>\
    <li class='active'>แผนที่ขอบเขตการปกครอง</li>\
  <% }else{ %>\
    <li class='active'><a href='/'>Map</a></li>\
    <% if (stuff.provice) { %>\
      <li class='active'>\
        <% if (stuff.type) %> <a href='/shelfs/<%-stuff.provice-%>' >\
        <%-stuff.provice-%>\
        <% if (stuff.type) %> </a>\
      </li>\
    <% } %>\
    <% } %>\
  ";
}else{
  title.innerHTML  = "<li class='active'><a href='/provice'>Map</a></li>\
    <% if (stuff.provice) { %>\
      <li class='active'>\
        <% if (stuff.type) %> <a href='/shelfs/<%-stuff.provice-%>' >\
        <%-stuff.provice-%>\
        <% if (stuff.type) %> </a>\
        </li>\
        <% if (stuff.type){ %> \
          <% if(stuff.type == 1) %>\
          <li class='active'>แผนที่ขอบเขตการปกครอง</li>\
      <%  } %>\
    <% } %>\
  ";
}
</script>
