<% stuff = typeof stuff !== 'object' ? {} : stuff %>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
            </button>
            <ol id="title" class="breadcrumb navbar-breadcrumb">
            </ol>
        </div>
    </div>
</nav>
<script>
var height = window.screen.height;
var width  = window.screen.width;
var title  = document.getElementById("title");
console.log(title.innerHTML);

<% if(stuff.page == "index"){ %>
    title.innerHTML="<li class='active'>Home</li>";
<% } else { %>
    if(width > height){
      title.innerHTML  = "<li class='active'><a href='/provice'>Map</a></li>\
      <% if (stuff.provice) { %>\
        <li class='active'>\
          <% if (stuff.type) %> <a href='/shelfs/<%-stuff.provice-%>' >\
        <%-stuff.provice-%>\
          <% if (stuff.type) %> </a>\
        </li>\
        <% if (stuff.type){ %> \
          <% if(stuff.type == 1){ %>\
            <li class='active'>แผนที่ขอบเขตการปกครอง</li>\
          <% }else if(stuff.type == 8){ %>\
              <li class='active'>แผนที่แหล่งน้ำผิวดิน</li>\
          <% } else if(stuff.type == 9){ %>\
              <li class='active'>แผนที่แหล่งน้ำใต้ดิน</li>\
          <% } else if(stuff.type == 2){ %>\
              <li class='active'>แผนที่การใช้ที่ดิน</li>\
          <% } else if(stuff.type == 3){ %>\
              <li class='active'>พื้นที่ปลูกข้าวในชั้นความเหมาะสมต่างๆ</li>\
          <% } else if(stuff.type == 6){ %>\
              <li class='active'>พื้นที่ปลูกยางในชั้นความเหมาะสมต่างๆ</li>\
          <% } else if(stuff.type == 13){ %>\
              <li class='active'>แผนที่ขอบเขตการปกครอง 3 มิติ</li>\
          <% } else if(stuff.type == 23){ %>\
              <li class='active'>แผนที่การใช้ที่ดิน 3 มิติ</li>\
          <% } %>\
        <% } %>\
      <% } %>";
    }else {
      title.innerHTML  = " \
      <% if (stuff.type) { %> \
        <% if(stuff.type == 1){ %>\
          <li class='active'>แผนที่ขอบเขตการปกครอง</li>\
        <% }else if(stuff.type == 8){ %>\
            <li class='active'>แผนที่แหล่งน้ำผิวดิน</li>\
        <% } else if(stuff.type == 9){ %>\
            <li class='active'>แผนที่แหล่งน้ำใต้ดิน</li>\
        <% } else if(stuff.type == 2){ %>\
            <li class='active'>แผนที่การใช้ที่ดิน</li>\
        <% } else if(stuff.type == 3){ %>\
            <li class='active'>พื้นที่ปลูกข้าวในชั้นความเหมาะสมต่างๆ</li>\
        <% } else if(stuff.type == 6){ %>\
            <li class='active'>พื้นที่ปลูกยางในชั้นความเหมาะสมต่างๆ</li>\
        <% } else if(stuff.type == 13){ %>\
            <li class='active'>แผนที่ขอบเขตการปกครอง 3 มิติ</li>\
        <% } else if(stuff.type == 23){ %>\
            <li class='active'>แผนที่การใช้ที่ดิน 3 มิติ</li>\
        <% } %>\
      <% }else{ %>\
        <li class='active'><a href='/'>Map</a></li>\
        <% if (stuff.provice) { %>\
          <li class='active'>\
            <% if (stuff.type) %> <a href='/shelfs/<%-stuff.provice-%>' >\
            <%-stuff.provice-%>\
            <% if (stuff.type) %> </a>\
          </li>\
        <% } %>\
        <% } %>\
      ";
    }
<% } %>

// if(width < height){
  // title.innerHTML  = "
  // <% if (stuff.type) { %> \
  //   <% if(stuff.type == 1) %>\
  //   <li class='active'>แผนที่ขอบเขตการปกครอง</li>\
  // <% }else{ %>\
  //   <li class='active'><a href='/'>Map</a></li>\
  //   <% if (stuff.provice) { %>\
  //     <li class='active'>\
  //       <% if (stuff.type) %> <a href='/shelfs/<%-stuff.provice-%>' >\
  //       <%-stuff.provice-%>\
  //       <% if (stuff.type) %> </a>\
  //     </li>\
  //   <% } %>\
  //   <% } %>\
  // ";
// }else{
  // title.innerHTML  = "
  // <li class='active'><a href='/provice'>Map</a></li>\
  //   <% if (stuff.provice) { %>\
  //     <li class='active'>\
  //       <% if (stuff.type) %> <a href='/shelfs/<%-stuff.provice-%>' >\
  //       <%-stuff.provice-%>\
  //       <% if (stuff.type) %> </a>\
  //       </li>\
  //       <% if (stuff.type){ %> \
  //         <% if(stuff.type == 1) %>\
  //         <li class='active'>แผนที่ขอบเขตการปกครอง</li>\
  //     <%  } %>\
  //   <% } %>\
  // ";
// }
// console.log(title.innerHTML);
</script>
