<% stuff = typeof stuff !== 'object' ? {} : stuff %>
<% include header %>
<% include menu_bar %>
<% include menu_side %>
<div class="container-fluid">
  <div class="side-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="card" id='1'>
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ขอบเขตทั่วไป</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item ">
                <a href="/map/<%- stuff.provice -%>/1">แผนที่ขอบเขตการปกครอง</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/1" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
              <li class="list-group-item">
                <a href="/map/<%- stuff.provice -%>/2">แผนที่การใช้ที่ดิน</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/2" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- แผนที่การใช้ที่ดิน <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ด้านดิน</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="/map/<%- stuff.provice -%>/3">พื้นที่ปลูกข้าวในชั้นความเหมาะสมต่างๆ</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/3" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- พื้นที่ปลูกข้าวในชั้นความเหมาะสมต่างๆ <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
              <li class="list-group-item disabled">
                <a href="/map/<%- stuff.provice -%>/4">พื้นที่ปลูกอ้อยในชั้นความเหมาะสมต่างๆ</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/4" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- พื้นที่ปลูกอ้อยในชั้นความเหมาะสมต่างๆ <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
              <li class="list-group-item disabled">
                <a href="/map/<%- stuff.provice -%>/5">พื้นที่ปลูกมันในชั้นความเหมาะสมต่างๆ</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/5" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- พื้นที่ปลูกมันในชั้นความเหมาะสมต่างๆ <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
              <li class="list-group-item">
                <a href="/map/<%- stuff.provice -%>/6">พื้นที่ปลูกยางในชั้นความเหมาะสมต่างๆ</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/6" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- พื้นที่ปลูกยางในชั้นความเหมาะสมต่างๆ <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
              <li class="list-group-item disabled">
                <a href="/map/<%- stuff.provice -%>/7">พื้นที่ดินมีปัญหา</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/7" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- พื้นที่ดินมีปัญหา<span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ด้านน้ำ</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="/map/<%- stuff.provice -%>/8">แผนที่แหล่งน้ำผิวดิน</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/8" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- แผนที่แหล่งน้ำผิวดิน <span class="badge"><a href="/map/<%- stuff.provice -%>/8" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
              <li class="list-group-item">
                <a href="/map/<%- stuff.provice -%>/9">แผนที่แหล่งน้ำใต้ดิน</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/9" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- แผนที่แหล่งน้ำใต้ดิน <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
              <li class="list-group-item disabled">
                <a href="/map/<%- stuff.provice -%>/10">แผนที่โครงการพัฒนาแหล่งน้ำ</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/10" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- แผนที่โครงการพัฒนาแหล่งน้ำ <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ด้านพืช</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item disabled">
                <a href="/map/<%- stuff.provice -%>/11">พื้นที่ปลูกพืชเศรษฐกิจ 4 ชนิด</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/11" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- พื้นที่ปลูกพืชเศรษฐกิจ 4 ชนิด <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ระบบจัดการส่งสินค้าเกษตร</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item disabled">
                <a href="/map/<%- stuff.provice -%>/12">แผนที่โรงงานอุตสาหกรรม แหล่งรับซื้อ และ สหกรณ์การเกษตร</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/12" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- แผนที่โรงงานอุตสาหกรรม แหล่งรับซื้อ และ สหกรณ์การเกษตร <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
              <li class="list-group-item disabled">
                <a href="/map/<%- stuff.provice -%>/13">แผนที่ตั้งโรงงานด้านการเกษตร</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/13" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- แผนที่ตั้งโรงงานด้านการเกษตร <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่ด้านประมง</div>
            </div>
          </div>
          <div class="card-body">
            <!-- <ul class="list-group">
              <li class="list-group-item disabled">
                แผนที่โรงงานอุตสาหกรรม แหล่งรับซื้อ และ สหกรณ์การเกษตร <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
              <li class="list-group-item disabled">
                แผนที่ตั้งโรงงานด้านการเกษตร <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">แผนที่เกษตรกร</div>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item disabled">
                <a href="/map/<%- stuff.provice -%>/14">ครัวเรือนเกษตรกร รายได้ และ หนี้สิน</a>
                <span class="badge hidden-xs"><a  href="/map/<%- stuff.provice -%>/14" style="color:white;">เรียกดูแผนที่</a></span>
                <!-- ครัวเรือนเกษตรกร รายได้ และ หนี้สิน <span class="badge"><a href="shelfs/Uttaradit" style="color:white;">เรียกดูแผนที่</a></span> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

// var url = "http://127.0.0.1:3000/json/shelfs/<%-stuff.provice-%>";
// $.getJSON(url, function (json) {
//     alert(json.result);
//     $.each(json.list, function (i, fb) {
//         alert(fb.result);
//     });
// });

</script>
<% include footer %>
